
@{
    ViewData["Title"] = "WIP";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<body>
    <hgroup>
        <h2>Site under construction</h2>
        <h3>Thank you for visiting..!!</h3>
    </hgroup>
    @Html.ActionLink("Go to Home page", "CustomerHome", "Customer")
</body>