
@{
    ViewData["Title"] = "Terms";
}

<div class="p-3 mb-2">
    <div class="row mb-3">
        <h2>Terms and Conditions</h2>
    </div>
    <div class="row mb-3">
        <p>While availing any of the payment method/s available on the Website, QuickKart
will not be responsible or assume any liability, whatsoever in respect of any loss 
or damage arising directly or indirectly because of:</p>
        <div>
            <ol>
                <li>Lack of authorization for any transaction/s, or</li>
                <li> Exceeding the preset limit mutually agreed by You and between “Bank/s”, or</li>
                <li>Any payment issues arising out of the transaction, or</li>
                <li>Decline of transaction for any other reason/s</li>
            </ol>
         </div>
    </div>
    <a asp-action="DownloadFile" class="btn btn-primary">Download</a>
</div>
