@{
    ViewData["Title"] = "Success";
}

<h1>Success.</h1>
<h2>You successfully completed the action</h2>
<h3>Selected Prouduct : @TempData["ProductName"].ToString()</h3>
<h3>Quantity Purchased: @TempData["QuantityPurchased"].ToString()</h3>